# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. JavaScript
5. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. NumPy
3. TensorFlow
4. Scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark|
|Julia|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
h = 200/60
print(h)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- convert 200 minutes to hours by diving by 60
- simple arithmetic expression to mutiply then add integers

## Author
Kateryna Svidovska